- form_tag "/default", :class => "method-default" do
  %p default

- form_tag "/put", :class => "method-put", :method => :put do
  %p put

- form_tag "/delete", :class => "method-delete", :method => :delete do
  %p Delete

- form_tag "/post", :class => "method-post", :method => :post do
  %p post

- form_tag "/get", :class => "method-get", :method => :get do
  %p get

